@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v34-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v34-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v34-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v34-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v34-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v34-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v34-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v34-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v34-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/open-sans-v34-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans-v34-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v34-latin-800italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v34-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v34-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
.page {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
/*Header*/
.header-wrapper {
    padding-top: 29px;
    background-color: #f6f2f2;
}
.header {
    display: flex;
    justify-content: center;
    width: 1249px;
    min-height: 89px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
}
.site-menu {
    margin-left: -53px;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 479px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-list > li {
    display: flex;
    min-height: 89px;

}
.menu-link {
    display: flex;
    align-items: center;
    padding: 0 25px;
    font-family:'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #e0e0e0;
    text-decoration: none;
    padding-bottom: 26px;
    padding-top: 39px;
    
}
.menu-link:hover {
    background-color: #ff3f40;
}
.menu-active {
    background-color: #ff3f40;
    padding-left: 23px;
    padding-right: 23px;
}
.portfolio {
    padding-left: 40px;
}
/*Main*/
/*Intro*/
.intro-wrapper {
    display: block;
    width: 100%;
    padding: 102px 0 110px;
    background-color: #f6f2f2;
}
.intro {
    display: flex;
    width: 1249px;
    margin: 0 auto;
    justify-content: space-between;
}
.intro-info {
    max-width: 595px;
}
.intro-heading {
    font-family:'Open Sans';
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20.52px;
    margin-right: 82px;
    margin-top: -15px;
}
.intro-special {
    letter-spacing: 6px;
}
.intro-text {
    font-family:'Open Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 57.47px;
    margin-top: 0;
}
.action-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    max-height: 55px;
    box-sizing: border-box;
    font-family:'Open Sans';
    font-size: 18px;
    line-height: 34px;
    border-radius: 5px;
    font-weight: 700;
}
.action-link_orange{
    background-color: #ff2d2d;
    color: #ffff;
    padding: 14.39px 63.65px 16.61px 63px;
    text-decoration: none;
}
.action-link_white {
    background-color: #ffff ;
    color: #ff2d2d;
    padding: 0;
    text-decoration: none;
    border: 2px solid #ff2d2d;
    padding: 15.39px 59.65px 15.61px 60px;
}
.intro-video {
    width: 551px;
    height: 356px;
    object-fit: cover;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}
/*Services*/
.services {
    display: flex;
    width: 1249px;
    margin: 0 auto;
    padding: 107.47px 0 90px;
    border-bottom: 2px solid #ececec;
    justify-content: space-between;
}
.services__info {
    width: 539px;
}
.services__heading {
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0.422159px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 55px;
    width: 523px;
    height: 87px;
    margin-top: -8px;
}
.services__about {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    margin-bottom: 58px;
    width: 539px;
}
.services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 610px;
    gap: 19px;
}
.services__item {
    width: 285px;
    margin-bottom: 24px;
}
.services__item_icon_management::before {
    content:'';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url(../img/Combined1.svg);
    background-repeat: no-repeat;
    margin-bottom: 31px;
}
.services__item_icon_design::before {
    content:'';
    display: block;
    width: 37.68px;
    height: 40px;
    background-image: url(../img/Combined4.svg);
    background-repeat: no-repeat;
    margin-bottom: 31px;
}
.services__item_icon_logo::before {
    content:'';
    display: block;
    width: 44px;
    height: 36px;
    background-image: url(../img/Combined3.svg);
    background-repeat: no-repeat;
    margin-bottom: 31px;
}
.services__item_icon_anime::before {
    content:'';
    display: block;
    width: 41.56px;
    height: 36px;
    background-image: url(../img/Combined2.svg);
    background-repeat: no-repeat;
    margin-bottom: 31px;
}
.services__title {
    margin: 0;
    margin-bottom: 4px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.services__text {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    width: 301px;
    height: 101px;
    margin-top: 0;
}
.services__text_design {
    width: 287.05px;
}

/*Feature*/
.feature {
    width: 1249px;
    margin: 0 auto;
    padding: 105px 0 65px;
}
.feature__header {
    margin-bottom: 88px;
}
.feature__heading {
    margin: 0;
    margin-bottom: 28.5px;
    font-family: 'Open Sans';
    font-size: 41.9876px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
.feature__about {
    width: 537px;
    margin: 0 auto;
    margin-bottom: 34.5px;
    font-family: 'Open Sans';
    font-size: 15.9953px;
    line-height: 28px;
    color: #000000;
    text-align: center;
}
.feature__line {
    margin: 0 auto;
    width: 130px;
    height: 2px;
    background-color: rgba(255, 45, 45, 1);
    border: none;
}
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
}
.filter__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
}
.filter__link {
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
.filter__link_active {
    color: #ff2d2d;
}
.filter__link:hover {
    color: #ff2d2d;
}
.feature__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.feature__product {
    width: 297px;
    object-fit: cover;
}
.feature__product_first {
    object-position: 0% 88%;
}
.feature__product_second {
    object-position: 0% 57%;
}
.feature__product_six {
    object-fit: initial;
}
.feature__product_seven {
    object-position: 0% 100%;
}